h1 {
     background: darkgreen;
  max-width: 400px;
  margin: 100px ;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  border: solid black;
  height: 100px ;
}